.footer-section {
	background: var(--gradient-black-bg);
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	padding: 0rem 0.25rem;
	gap: 0.25rem;
}
.footer-main-section {
	padding: 0rem 2rem;
	display: flex;
	gap: 1.5rem;
	justify-content: space-between;
}
.footer-about-container {
	flex: 3;
}
#footer-heading {
	font-size: 1.2rem;
	padding: 0.5rem 0rem;
}
.footer-quick-links-container {
	flex: 1;
}
.footer-contact-us-container {
	flex: 1.5;
}
.copyright-section {
	font-size: 1.2rem;
	padding: 0.25rem;
}

@media screen and (max-width: 750px) {
	.footer-main-section {
		flex-direction: column;
	}
}
