.appointment-section-wrapper {
	/* width: 100vw; */
	/* height: 100vh; */
	/* background: var(--gradient-bg); */
	/* display: flex; */
	/* justify-content: center;
	align-items: center; */
}
.appointment-section {
	display: flex;
	justify-content: center;
	/* background: var(--gradient-black-bg); */
}

.appointment-card {
	display: flex;
	width: fit-content;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	border-radius: 6px;
	justify-content: center;
	background: var(--gradient-bg);
	align-items: center;
	box-shadow: 0 20px 20px rgba(2, 36, 57, 0.776);
}

.appointment-fields {
	min-width: 250px;
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.appointment-fields input,
.appointment-fields select,
.appointment-fields option {
	padding: 10px;
	outline: none;
	font-size: 14px;
	color: #fff;
	border-radius: 8px;
	background: var(--gradient--black-bg);
	background-color: rgba(0, 0, 0, 0.745);
}
.appointment-buttons {
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.button {
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
	background: var(--button-bg);
	color: #fff;
	text-transform: uppercase;
}
.appointment-section-wrapper {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: relative;
	background-color: white;
}

.time-slots-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
