.appointment-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: 80vh;
}

.appointment-card {
	display: flex;
	padding: 25px;
	flex-direction: column;
	justify-content: center;
	background: var(--card-gradient-bg);
	align-items: center;
}

.appointment-fields {
	min-width: 250px;
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.appointment-fields input,
.appointment-fields select,
.appointment-fields option {
	padding: 10px;
	outline: none;
	font-size: 14px;
	color: #fff;
	border-radius: 8px;
	background: var(--gradient--black-bg);
	background-color: rgba(0, 0, 0, 0.745);
}
.appointment-buttons {
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.button {
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
	background: var(--button-bg);
	color: #fff;
	text-transform: uppercase;
}

.time-slots-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
