.time-slots-modal {
	display: flex;
	background: var(--gradient-black-bg);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: fit-content;
	height: fit-content;
}
.time-slots-modal-close-icon {
	margin: 10px;
	align-self: flex-end;
	cursor: pointer;
}

.time-slots-grid {
	display: grid;
	grid-template-columns: repeat(7, 5fr);
	margin: 10px;
}
