.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

gradient-background {
	background-image: linear-gradient(
		0deg,
		hsl(240deg 86% 28%) 0%,
		hsl(289deg 100% 26%) 39%,
		hsl(315deg 100% 31%) 51%,
		hsl(328deg 100% 39%) 61%,
		hsl(339deg 90% 47%) 75%,
		hsl(0deg 91% 62%) 100%
	);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
a {
	color: unset;
	text-decoration: none;
}
