:root {
	--gradient-black-bg: radial-gradient(
		circle at 24.1% 68.8%,
		rgb(50, 50, 50) 0%,
		rgb(0, 0, 0) 99.4%
	);
	--navbar-gradient-bg: linear-gradient(
		90deg,
		hsl(177deg 84% 31%) 3%,
		hsl(183deg 38% 43%) 55%,
		hsl(194deg 27% 52%) 70%,
		hsl(211deg 27% 60%) 79%,
		hsl(235deg 27% 67%) 85%,
		hsl(260deg 37% 71%) 91%,
		hsl(275deg 51% 74%) 95%,
		hsl(285, 51%, 54%) 100%
	);

	--card-gradient-bg: linear-gradient(147deg, #3eadcf 0%, #abe9cd 74%);

	--gradient-bg: radial-gradient(
		circle at right bottom,
		#8ad568 0%,
		#3eb687 100%
	);

	--footer-gradient-bg: radial-gradient(
		circle at 24.1% 68.8%,
		rgb(50, 50, 50) 0%,
		rgb(0, 0, 0) 99.4%
	);

	--button-bg: #ff4820;
	--button-success-bg: #3a86ff;
	--button-fail-bg: #9d0208;
}

.card {
	background: var(--card-gradient-bg);
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	/* padding: 0.5rem; */
	transition: transform 0.3s ease-in-out;
	gap: 10px;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

body {
	background: var(--gradient-bg);
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
a {
	color: unset;
	text-decoration: none;
}
