:root {
	--gradient-black-bg: radial-gradient(
		circle at 24.1% 68.8%,
		rgb(50, 50, 50) 0%,
		rgb(0, 0, 0) 99.4%
	);
	--gradient-bg : radial-gradient(
		ellipse at bottom left,
		rgba(33, 188, 220, 0.6) 40%,
		rgba(33, 188, 220, 0.5) 50%,
		rgba(33, 188, 220, 0.4) 60%
	);
	--footer-gradient-bg: background: radial-gradient(
		circle at 24.1% 68.8%,
		rgb(50, 50, 50) 0%,
		rgb(0, 0, 0) 99.4%
	);
	--button-bg: #ff4820;
	--button-success-bg: #3a86ff;
	-button-fail-bg: #9d0208;
}
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

body{
	background: var(--gradient-bg);
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* .gradient-bg {
	 background: rgb(234, 80, 96); 
	background: radial-gradient(
		ellipse at bottom left,
		rgba(33, 188, 220, 0.6) 40%,
		rgba(33, 188, 220, 0.5) 50%,
		rgba(33, 188, 220, 0.4) 60%
	);
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
a {
	color: unset;
	text-decoration: none;
}
