.services {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	padding: 20px;
	gap: 20px;
}

.service-card {
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.service-card:hover {
	transform: scale(1.05);
}
.service-image {
	display: flex;
}
.service-image img {
	border-radius: 8px;
}
.service-content {
	padding: 10px;
	display: flex;
	max-width: 500px;
	height: auto;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	align-items: center;
}
.service-content button {
	align-self: flex-end;
}
@media screen and (max-width: 1050px) {
	.service-card {
		flex-direction: column;
	}
}

@media screen and (max-width: 750px) {
	.services {
		grid-template-columns: 1fr;
	}
}
